* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.copy-container1 {
    position: absolute;
    width: 1442px;
    height: 1385px;
    background-image: url(sustainable-lifestyle-zero-waste-plastic-free-sh-2022-02-02-04-51-29-utc\ 1.png);
    
}

.copy-container1 h1 {
    position: absolute;
    width: 241px;
    height: 172px;
    left: 464px;
    top: 320px;

    font-family: 'MADE Tommy Soft';
    font-style: normal;
    font-weight: 300;
    font-size: 138.4px;
    line-height: 172px;
    /* identical to box height */


    color: #FFFFFF;

}

.copy-container1 h2 {
    position: absolute;
    width: 241px;
    height: 172px;
    left: 728px;
    top: 320px;

    font-family: 'MADE Tommy Soft';
    font-style: normal;
    font-weight: 300;
    font-size: 138.4px;
    line-height: 172px;
    /* identical to box height */


    color: #FFFFFF;
    margin-left: 23px;
}

